@inherits LayoutComponentBase
<MudThemeProvider Theme="@_theme" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="col-12">
    <br /><br />
    @Body
</div>

@code {
    private MudTheme? _theme = null;
    private bool _drawerOpen = true;
    [Inject] private NavigationManager _navigation { get; set; } = null!;

    protected override void OnInitialized()
    {
        _theme = new MudTheme()
            {
                PaletteLight = _lightPalette,
                LayoutProperties = new LayoutProperties()
            };
    }
    private void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    private readonly PaletteLight _lightPalette = new PaletteLight()
        {
            Primary = "#445569",
            Secondary = "#fffbfb",
            Tertiary = "#84a1c2",
            Surface = "#f0f0f0",
            Background = "#f9f9f9",
            BackgroundGray = "#f9f9f9",
            AppbarText = "#424242",
            AppbarBackground = "rgba(255,255,255,0.8)",
            DrawerBackground = "#28394d",
            DrawerText = "#fffbfb",
            DrawerIcon = "#fffbfb",
            ActionDefault = "#5A6B84",
            ActionDisabled = "#f9f9f9",
            ActionDisabledBackground = "#4455694D",
            TextPrimary = "#2a2833",
            TextSecondary = "#424242",
            TextDisabled = "#00000033",
            GrayLight = "#DDE3E9",
            GrayLighter = "#F0F4F8",
            Info = "#1c58d1",
            Success = "#15a244",
            Warning = "#f69c14",
            Error = "#e11a3b",
            LinesDefault = "#D0D7DF",
            TableLines = "#D0D7DF",
            Divider = "#D0D7DF",
            OverlayLight = "#ffffff80",
        };
}
